<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Encomage\Books\Api\BookRepositoryInterface" type="Encomage\Books\Model\BookRepository"/>
    <preference for="Encomage\Books\Api\Data\BookInterface" type="Encomage\Books\Model\Book"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="book_index_data_source" xsi:type="string">Encomage\Books\Model\ResourceModel\Book\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Encomage\Books\Model\ResourceModel\Book\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">encomage_books_book</argument>
            <argument name="resourceModel" xsi:type="string">Encomage\Books\Model\ResourceModel\Book</argument>
        </arguments>
    </virtualType>
</config>
