<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Encomage_Books::view" title="Books" module="Encomage_Books" sortOrder="10"
             action="books/book/listing" resource="Encomage_Books::view"/>
    </menu>
</config>
